<!DOCTYPE html>
<head>
    <meta charest="utf-8">
    <style>
        body {
            margin: 0;
        }
        h1 {
            color: #ffffff;
            padding: 20px;
            margin: 20px;
            text-align: center;
            background-color: #6d6875;
        }          
        .mju1{
            text-align: left;
        }     
    </style>
</head>
<body>    
    <h1 style="text-align: center;">4</h1>  
    
    <div class="mju1">
        <ul>            
            <a href="{% url 'h1' %}" style = "color :#b5838d;">진수's 홈</a>            
            <a href="{% url 'h2' %}" style = "color :#b5838d;">한솔's 홈</a>
            <a href="{% url 'h3' %}" style = "color :#b5838d;">상욱's 홈</a>
        </ul> 
    </div>    
    
    </body>
</html>